* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

/* главный блок в контактах*/
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/italy.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: 150% auto;
    transform: scale(1.5);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* контейнер карточек */
.cards {
    display: flex;
    gap: 30px;
}

.card {
    width: 250px;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .card h3 {
        margin-bottom: 15px;
        font-size: 18px;
        font-family: 'Playfair Display', serif;
    }

    .card p {
        font-size: 14px;
        margin: 5px 0;
        font-weight: normal;
    }

/* цвета */
.green {
    background-color: #008C45;
}

.white {
    background-color: #ffffff;
    color: #222;
}

.red {
    background-color: #CD212A;
}

/* hover */
.card:hover {
    transform: translateY(-8px);
}

.menu-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.menu-title {
    color: #c43e2c;
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
}

.image-credit {
    text-align: center;
    font-size: 0.8em;
    color: #666;
    margin-top: 0;
    margin-bottom: 30px;
}

.menu-item {
    margin: 20px 0;
}

    .menu-item h3 {
        color: #333;
        margin-bottom: 10px;
    }

    .menu-item p {
        color: #666;
        line-height: 1.5;
        margin: 10px 0;
    }

.price {
    font-size: 1.2em;
    color: #c43e2c;
    margin-top: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
    margin: 30px 0;
}

/* navbar-custom.css для панели навигации */
.navbar {
    background-color: #000;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 15px 0;
}

/* Бренд */
.navbar-brand {
    font-weight: 700;
    font-size: 36px;
    color: #fff !important;
    line-height: 1;
    text-decoration: none;
}

/* Ссылки навигации */
.navbar-collapse .navbar-nav {
    float: right;
    display: flex;
    gap: 20px;
    padding: 15px 0;
}

    .navbar-collapse .navbar-nav li {
        display: inline-block;
    }

        .navbar-collapse .navbar-nav li a {
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #fff !important;
            padding: 12px 25px;
            line-height: 1;
            text-decoration: none;
        }

            .navbar-collapse .navbar-nav li a:hover {
                color: #ccc !important;
            }