/* Базовые стили страницы */
body {
    background-color: #f2f2f2;
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    font-size: 16px;
    overflow-y: scroll;
    padding: 0;
}


/* Панель навигации */
.navbar {
    background-color: #000;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 15px 0;
}

    /* Выравнивание всей шапки */
    .navbar .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px; /* одинаковые отступы слева и справа */
    }

/* Левая часть: логотип + текст */
.navbar-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 0;
}

/* бренд */
.navbar-brand {
    font-weight: 700;
    font-size: 40px;
    color: #fff !important;
    line-height: 1;
    text-decoration: none;
}

/* правая часть (меню) */
.navbar-collapse {
    flex: 1;
    display: flex !important;
    justify-content: flex-end;
}

    /* список меню */
    .navbar-collapse .navbar-nav {
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

        /* элементы меню */
        .navbar-collapse .navbar-nav li {
            display: inline-block;
            white-space: nowrap;
        }

            /* ссылки */
            .navbar-collapse .navbar-nav li a {
                font-family: 'Trebuchet MS', sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #fff !important;
                padding: 12px;
                text-decoration: none;
            }

                .navbar-collapse .navbar-nav li a:hover {
                    color: #ccc !important;
                }

/* логотип */
.navbar-header img {
    width: 80px;
    height: 70px;
    margin-top: 3px;
}

.navbar a:focus,
.navbar a:active {
    outline: none;
    box-shadow: none;
}

.navbar a:focus-visible {
    outline: none;
    border-bottom: 2px solid #fff;
}