/* Базовые стили страницы */
body {
    background-color: #f2f2f2;
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    font-size: 16px;
    padding: 0;
}

/* Главный баннер на весь экран */
.hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/italy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контейнер карточек */
.cards {
    display: flex;
    gap: 30px;
}

/* Общий стиль карточки */
.card {
    width: 300px;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

    /* Заголовок внутри карточки */
    .card h3 {
        margin-bottom: 15px;
        font-size: 2.7rem;
        font-family: 'Arial', serif;
    }

    /* Текст внутри карточки */
    .card p {
        font-size: 1.4em;
        margin: 5px 0;
        font-weight: normal;
    }

    /* Ссылки внутри карточек */
    .card a,
    .card a:visited,
    .card a:hover,
    .card a:active {
        color: white;
        text-decoration: underline;
    }

/* Зеленая карточка */
.green {
    background-color: #008C45;
}

/* Белая карточка */
.white {
    background-color: #ffffff;
    color: black;
}
    .white a,
    .white a:visited,
    .white a:hover,
    .white a:active {
        color: black;
    }

/* Красная карточка */
.red {
    background-color: #CD212A;
}

/* Эффект при наведении */
.card:hover {
    transform: translateY(-8px);
}

/* Панель навигации */
.navbar {
    background-color: #000;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 15px 0;
}

/* Логотип в навбаре */
.navbar-brand {
    font-weight: 700;
    font-size: 36px;
    color: #fff !important;
    line-height: 1;
    text-decoration: none;
}

/* Контейнер ссылок навигации */
.navbar-collapse .navbar-nav {
    float: right;
    display: flex;
    gap: 20px;
    padding: 15px 0;
}

    /* Элемент списка навигации */
    .navbar-collapse .navbar-nav li {
        display: inline-block;
    }

        /* Ссылка навигации */
        .navbar-collapse .navbar-nav li a {
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #fff !important;
            padding: 12px 25px;
            line-height: 1;
            text-decoration: none;
        }

            /* Эффект наведения на ссылку */
            .navbar-collapse .navbar-nav li a:hover {
                color: #ccc !important;
            }
