* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/main_background2.jpg");
    background-attachment: fixed;
}

/* Главная секция */
.main-section {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/static/images/123.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: -20px;
}

.main-content {
    max-width: 800px;
    padding: 0 20px;
}

.main-title {
    font-size: 3.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.main-subtitle {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.6;
}

.main-btn {
    display: inline-block;
    padding: 12px 35px;
    background: linear-gradient(90deg, #008C45, #F4F5F0, #CD212A);
    color: #333;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
    transition: 0.3s;
}

    .main-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }
